USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (@ContractID INT, @TargetDate DATE)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18,2), @NgayVay DATE, @DL1 DATE, @TongTien DECIMAL(18,2);
    
    -- Lấy thông tin gốc và mốc thời gian từ hợp đồng
    SELECT @Goc = SoTienVay, @NgayVay = NgayLap, @DL1 = Deadline1 
    FROM HopDong WHERE ID = @ContractID;

    -- 1. Tính lãi đơn (Áp dụng đến mốc Deadline 1)
    DECLARE @SoNgayDon INT = DATEDIFF(DAY, @NgayVay, CASE WHEN @TargetDate > @DL1 THEN @DL1 ELSE @TargetDate END);
    IF @SoNgayDon < 0 SET @SoNgayDon = 0;
    
    SET @TongTien = @Goc + (@Goc * 0.005 * @SoNgayDon); -- Lãi 0.5%/ngày

    -- 2. Tính lãi kép (Nếu ngày hiện tại vượt quá Deadline 1)
    IF @TargetDate > @DL1
    BEGIN
        DECLARE @SoNgayKep INT = DATEDIFF(DAY, @DL1, @TargetDate);
        -- Công thức: A = P * (1 + r)^n
        SET @TongTien = @TongTien * POWER(1 + 0.005, @SoNgayKep);
    END

    RETURN @TongTien;
END;
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[SoTienVay] [decimal](18, 2) NULL,
	[NgayLap] [date] NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBadDebtList]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE FUNCTION [dbo].[fn_GetBadDebtList]()
    RETURNS TABLE 
    AS
    RETURN (
        SELECT 
            k.TenKH AS [Tên Khách Hàng], 
            k.SDT AS [Số Điện Thoại], 
            h.SoTienVay AS [Tiền Gốc],
            DATEDIFF(DAY, h.Deadline1, GETDATE()) AS [Số Ngày Quá Hạn],
            dbo.fn_CalcMoneyContract(h.ID, GETDATE()) AS [Tổng Nợ Hiện Tại],
            dbo.fn_CalcMoneyContract(h.ID, DATEADD(DAY, 30, GETDATE())) AS [Dự Báo Nợ Sau 30 Ngày]
        FROM KhachHang k
        JOIN HopDong h ON k.ID = h.CustomerID
        WHERE h.Deadline1 < GETDATE() -- Chỉ lấy những hợp đồng đã quá Deadline 1
          AND h.TrangThai <> N'Đã thanh toán' -- Và chưa thanh toán xong
    )
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[NgayTra] [date] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[TenTaiSan] [nvarchar](255) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([ID], [CustomerID], [SoTienVay], [NgayLap], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-12' AS Date), CAST(N'2023-01-01' AS Date), CAST(N'2026-06-26' AS Date), N'Quá hạn (nợ xấu)')
INSERT [dbo].[HopDong] ([ID], [CustomerID], [SoTienVay], [NgayLap], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2023-12-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), N'Đang vay')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [TenKH], [SDT]) VALUES (1, N'Panyasack Vilasack', N'0901234567')
INSERT [dbo].[KhachHang] ([ID], [TenKH], [SDT]) VALUES (2, N'Panyasack Vilasack', N'0123456789')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [ContractID], [NgayTra], [SoTienTra], [NoiDung]) VALUES (1, 1, CAST(N'2026-05-12' AS Date), CAST(2000000.00 AS Decimal(18, 2)), N'Khách trả đợt 1')
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([ID], [ContractID], [TenTaiSan], [GiaTriDinhGia], [IsSold]) VALUES (1, 1, N'iPhone 15 Pro Max', CAST(25000000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[HopDong] ([ID])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[HopDong] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[sp_Payment]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Payment]
    @ContractID INT,
    @Amount DECIMAL(18,2),
    @Note NVARCHAR(255)
AS
BEGIN
    -- 1. Ghi nhật ký vào bảng Log
    INSERT INTO Log (ContractID, NgayTra, SoTienTra, NoiDung)
    VALUES (@ContractID, GETDATE(), @Amount, @Note);

    -- 2. Tính toán dư nợ hiện tại (sử dụng hàm ở Event 2)
    DECLARE @CurrentDebt DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@ContractID, GETDATE());

    -- 3. Cập nhật trạng thái nếu đã trả hết nợ
    IF @Amount >= @CurrentDebt
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đã thanh toán' WHERE ID = @ContractID;
        PRINT N'Hợp đồng đã thanh toán đủ.';
    END
    ELSE
    BEGIN
        PRINT N'Đã ghi nhận thanh toán một phần. Dư nợ còn lại ước tính: ' + CAST((@CurrentDebt - @Amount) AS VARCHAR);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterContract]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterContract]
    @CustomerName NVARCHAR(100),
    @Phone VARCHAR(15),
    @LoanAmount DECIMAL(18,2),
    @AssetName NVARCHAR(255),
    @AssetValue DECIMAL(18,2)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Thêm khách hàng nếu chưa có trong hệ thống
        IF NOT EXISTS (SELECT ID FROM KhachHang WHERE SDT = @Phone)
            INSERT INTO KhachHang (TenKH, SDT) VALUES (@CustomerName, @Phone);
        
        DECLARE @CustID INT = (SELECT ID FROM KhachHang WHERE SDT = @Phone);

        -- 2. Tạo hợp đồng mới (Tự động tính Deadline)
        INSERT INTO HopDong (CustomerID, SoTienVay, NgayLap, Deadline1, Deadline2, TrangThai)
        VALUES (@CustID, @LoanAmount, GETDATE(), DATEADD(DAY, 30, GETDATE()), DATEADD(DAY, 45, GETDATE()), N'Đang vay');

        DECLARE @NewContractID INT = SCOPE_IDENTITY();

        -- 3. Thêm tài sản thế chấp
        INSERT INTO TaiSan (ContractID, TenTaiSan, GiaTriDinhGia)
        VALUES (@NewContractID, @AssetName, @AssetValue);

        COMMIT TRANSACTION;
        PRINT 'Register Success!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Error: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RenewContract]    Script Date: 12/5/2569 19:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RenewContract]
        @ContractID INT,
        @NguoiThu NVARCHAR(100)
    AS
    BEGIN
        DECLARE @TongNo DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@ContractID, GETDATE());
        DECLARE @TienGoc DECIMAL(18,2) = (SELECT SoTienVay FROM HopDong WHERE ID = @ContractID);
        DECLARE @TienLai DECIMAL(18,2) = @TongNo - @TienGoc;
    
        -- 1. Ghi nhận việc đóng lãi vào bảng Log
        INSERT INTO Log (ContractID, NgayTra, SoTienTra, NoiDung)
        VALUES (@ContractID, GETDATE(), @TienLai, N'Đóng lãi gia hạn. Người thu: ' + @NguoiThu);
    
        -- 2. Cập nhật lại mốc thời gian cho hợp đồng
        UPDATE HopDong
        SET NgayLap = GETDATE(),
            Deadline1 = DATEADD(DAY, 30, GETDATE()),
            Deadline2 = DATEADD(DAY, 45, GETDATE()),
            TrangThai = N'Đang vay'
        WHERE ID = @ContractID;
    
        PRINT N'Gia hạn thành công. Đã thu lãi: ' + CAST(@TienLai AS VARCHAR);
    END;
GO
